@page "/register"
@layout VPointCare.Web.Components.Layout.EmptyLayout
@attribute [AllowAnonymous]

<div class="login-page">
    <section class="login-panel">
        <img src="images/logo_primary.svg" alt="VPoint Care" class="login-logo" />
        <h1>Registrasi Ditutup</h1>
        <p>Registrasi user mengikuti alur admin lama. Akun login dibuat melalui menu <strong>MUser</strong> dan dihubungkan ke <strong>MPengguna</strong>.</p>
        <MudButton Href="/login" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Kembali ke Login</MudButton>
    </section>
</div>
